*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

header{
    width: 100%;
    height: 15vh;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}




/* .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
} */

.nav_home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.logo{
    float: left;
    width: 25%;
}

#logo{
    font-size: 50px;
    margin-left: 25px;
    color: #ead9e6;
    
}

h2{
    width: 25%;
    text-align: center;
    margin-left: 170px;
    color: #ead9e6;
    text-align: center;
}

/*------------------------------ BODY --------------------------------------------*/
/*------------------------------ BODY --------------------------------------------*/

body{
    min-height: calc(100vh - 30vh);
    width: 100%;
    height: 125vh;
    background-color: #ecf0f1;
}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

footer{
    width: 100%;
    height: 15vh;
    background-color: burlywood;
    
}





.div_card{
   
    height: 300px;
    width: 330px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.api_image{
    height: 150px;
    width: 140px;
    border-radius: 8px;
    margin-top: 8px;
}

.api_name{
    margin-top: 10px;
    color: #bf9fb8;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ead9e6;
    font-size: 1.3rem;
}
a:hover {
    color: #27abdf;
}
    
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    
};
.p{
    color: #658994;
    background-color: white;
    
}
/*      -----    home page    -----       */
.home_container{
    width: 100%;
    height: 80vh;
    margin-top: 30px;
}


.left_home{
    float: left;
    width: 50%;
    /* margin-top: 50px; */

}
.right_home {
    float: right;
    width: 50%;
    margin-top: 80px;
}

.home_title{
    position: absolute;
    right: 40%;
    margin-top: 30px;
    color: #253237;
    font-size: 1.5rem;
}
h4{
   color: #b087a6; 
}

.home_pic{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* margin-left: 50px; */
}

select{
    background: transparent;
    font-size: 1.2rem;
    color: #ead9e6;
    text-decoration: none;
    border: none;
   width: 135px;
}
.sort{
    width: 100px;
}



select option{
    color:#2c3e50;
    background-color: white;
}
select option:hover {
    background-color: red;
  }

/*--------------------------LOGIN---------------------------------------------*/
/*--------------------------LOGIN---------------------------------------------*/
/*--------------------------LOGIN---------------------------------------------*/
.login_card{
    background-color: white;
    height: 480px;
    width: 400px;
    position: absolute;
    left: 35%;
    top: 17%;
    
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
input{
    border-radius: 3px;
    height: 1.8rem;
    width: 13rem;
    margin: 10px;
    list-style: none;
    
    border: none;
    border-bottom: 1px solid #000;
    margin: 7px;
    outline: none;
    padding: 20px 0;
}

.signup{
    font-size: 1rem;
    color: rebeccapurple;
    padding: 5px;
}

.login_title{
    color:#2c3e50;
    margin-bottom: 30px;
}


button.login {
    background-color: #2c3e50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
    width: 13rem;
    border-radius: 5rem;
    margin-bottom: 10px;
}

small{
    color: #658994;

}
  small a{
    
        padding: 10px 100px;
        width: 600px;
        margin-top: 30px;
        margin-top: 10px;
  }


  .login_card_child{
    padding: 40px 90px;
    margin-top: 50px;
  }



/*--------------------------LOGIN---------------------------------------------*/
/*--------------------------LOGIN---------------------------------------------*/
/*--------------------------LOGIN---------------------------------------------*/


.login_card1{
    background-color: white;
    height: 630px;
    width: 400px;
    position: absolute;
    left: 35%;
    top: 17%;
    
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);


}

.errors{
    padding: 10px 80px; 
}


  @media screen and (max-width: 480px) {
    .login_card{
        height: 550px;
        width: 350px;
        position: absolute;
        right: 0%;
        left:7.5%;
        top: 20%;
    }

    .login_card_child{
        padding: 30px 70px;
        margin-top: 50px;
      }

    .login_card1{
        height: 610px;
        width: 350px;
        position: absolute;
        right: 0%;
        left:7.5%;
        top: 20%;
    }
    
  }